absl-py==0.9.0
aldryn-apphooks-config==0.6.0
appdirs==1.4.4
asgiref==3.2.10
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
aws-shell==0.2.1
awscli==1.18.88
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.1.5
boto3==1.14.11
botocore==1.17.11
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
colorama==0.4.3
configobj==5.0.6
coverage==5.2.1
cryptography==2.9.2
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.8
django-appdata==0.3.0
django-check-seo==0.3.4
django-classy-tags==1.0.0
django-cms==3.7.4
django-cors-headers==3.4.0
django-csp==3.6
django-feature-policy==3.4.0
django-filer==1.7.1
django-formtools==2.2
django-heroku==0.3.1
django-js-asset==1.2.2
django-meta==1.7.0
django-mptt==0.11.0
django-parler==2.0.1
django-polymorphic==2.1.2
django-sekizai==1.1.0
django-seo==0.3.5
django-sortedm2m==3.0.2
django-taggit==1.2.0
django-taggit-autosuggest==0.3.8
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-apphook-setup==0.4.1
djangocms-attributes-field==1.2.0
djangocms-blog==1.1.1
djangocms-bootstrap4==1.6.0
djangocms-file==2.4.0
djangocms-googlemap==1.4.0
djangocms-icon==1.5.0
djangocms-link==2.6.1
djangocms-page-meta==0.10.0
djangocms-picture==2.4.0
djangocms-snippet==2.3.0
djangocms-style==2.3.0
djangocms-text-ckeditor==3.9.1
djangocms-video==2.3.0
docopt==0.6.2
docutils==0.15.2
easy-thumbnails==2.7
entrypoints==0.3
filelock==3.0.12
flake8==3.8.3
gast==0.3.3
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
gunicorn==20.0.4
h5py==2.10.0
html5lib==1.1
idna==2.10
imutils==0.5.3
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
Js2Py==0.70
jsonschema==3.2.0
jupyter-core==4.6.3
jwt==1.0.0
Keras-Preprocessing==1.1.2
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.4.0
nbconvert==5.6.1
nbformat==5.0.7
numpy==1.19.0
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
pdf-to-markdown==0.1.0
pdfminer.six==20200726
pickleshare==0.7.5
Pillow==7.2.0
pipwin==0.5.0
pluggy==0.13.1
prompt-toolkit==3.0.5
protobuf==3.12.2
psycopg2==2.8.5
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Lenovo/pipwin/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
Pygments==2.6.1
pyjsparser==2.7.1
pyocr==0.7.2
pyparsing==2.4.7
PyPrind==2.11.2
pyrsistent==0.16.0
pyseoanalyzer==4.0.2
pySmartDL==1.3.3
pytest==5.4.3
pytest-cov==2.10.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==3.4.2
s3transfer==0.3.3
scipy==1.4.1
selenium==3.141.0
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
SQLAlchemy==1.3.18
sqlparse==0.3.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
testpath==0.4.4
traitlets==4.3.3
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.25.10
virtualenv==20.0.25
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
